<!DOCTYPE html>
<html>
<head>
    <title>Born-Chic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/javascript/functions.js"></script>
    <style>
        .carousel-inner > .carousel-item > img{  width: 700px; height: 100px;  }
        .text-center {font-size: small;}
    </style>

</head>
<body>
<a href="/"  class="nav-link"> <div class="jumbotron text-center">
    <h1 style="color: dimgrey">Born-chic</h1>
</div></a>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: aliceblue">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="/itemlist/m_outer" class="nav-link">남성 아우터</a></li>
                <li class="nav-item"><a href="#" class="nav-link">남성 상의</a></li>
                <li class="nav-item"><a href="#" class="nav-link">남성 하의</a></li>
                <li class="nav-item"><a href="#" class="nav-link">여성 아우터</a></li>
                <li class="nav-item"><a href="#" class="nav-link">여성 상의</a></li>
                <li class="nav-item"><a href="#" class="nav-link">여성 하의</a></li>
            </ul>
        <form class="navbar-form pull-left" role="search">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">검색</button>
                </div>
            </div>
        </form>
        <%if(user_id == ''){%>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            </ul>
        <%}else{
            if(admin == '' || admin == 0){%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/">마이페이지</a></li>
                <li class="nav-item "><a class="nav-link" href="/delete_cookie">Logout</a></li>
            </ul>
            <%} else{%>
            <ul class="navbar-nav">
                <li class="nav-item "><a class="nav-link" href="/">물품관리</a></li>
                <li class="nav-item "><a class="nav-link" href="/delete_cookie">Logout</a></li>
            </ul>
            <%}%>
        <%}%>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container">
    <h2> </h2>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#">
                <img class="d-block img-fluid mx-auto" style="width: 1200px; height: 500px" src="https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="First slide">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>인기 상품</h5>
                <p>제품명</p>
            </div>
        </div>
        <div class="carousel-item" >
            <a href="#">
                <img class="d-block img-fluid mx-auto" style="width: 1200px; height: 500px" src="https://images.pexels.com/photos/2355519/pexels-photo-2355519.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Second slide">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>신상품</h5>
                <p>제품명</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="#">
                <img class="d-block img-fluid mx-auto" style="width: 1200px; height: 500px"  src="https://images.pexels.com/photos/2544554/pexels-photo-2544554.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Third slide">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5>추천상품</h5>
                <p>제품명</p>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a> <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li> <li data-target="#demo" data-slide-to="2"></li>
        </ul>
    </div>
</div>
<br>
<p class="text-center">
    Born-Chic은 타고난 멋이라는 뜻을 가지고 있는 의류 쇼핑몰이다.<br>
    구매자 누구나 각자의 개성이 있고 각자의 개성은 각자의 타고난 멋이다.<br>
    우리 쇼핑몰은 여러 사람의 개성, 즉 여러 종류의 타고난 멋을 더욱 돋보이게 해줄 타고난, 멋있는 디자인의 다양한 의류를 판매한다.
</p>
</body>
</html>
